{
  "info": {
    "title": "Codemagic API",
    "version": "v3.0",
    "description": "\n## Rate limits for the REST API\n\nCodemagic limits the number of REST API requests that you can make within a specific amount of time.\nThis limit helps prevent abuse and denial-of-service attacks, and ensures that the API remains available for all users.\n\nYou can use a personal API key to make API requests. All of these requests count towards your personal rate limit of\n5,000 requests per hour.\n\nIf you exceed your rate limit, you will receive a `429` response, and the `ratelimit-remaining` header will be `0`.\nYou should not retry your request until after the time specified by the `ratelimit-reset` header.\n\n### Checking the status of your rate limit\n\nYou can use the headers that are sent with each response to determine the current status of your rate limit.\n\n| **Header** | **Description** |\n| ---    | ---         |\n| ratelimit-limit | The maximum number of requests that you can make per hour. |\n| ratelimit-remaining | The number of requests remaining in the current rate limit window. |\n| ratelimit-reset | The number of seconds remaining until the current rate limit window resets. |\n\n## Help and support\n\n- Ask our [GitHub community](https://github.com/codemagic-ci-cd/codemagic-docs/discussions).\n- Our paying customers can get in touch with us via the in-app chat widget.\n  You have to be logged in to see the chat icon (note that some ad blockers may block the chat widget).\n\n---\n&copy; Nevercode Ltd. | All Rights Reserved | Codemagic is registered trademark of Nevercode Ltd. | [Terms](https://codemagic.io/terms)\n"
  },
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://codemagic.io/",
      "x-internal": false
    }
  ],
  "paths": {
    "/api/v3/apps/{app_id}/tester-groups": {
      "get": {
        "tags": [
          "Tester Groups"
        ],
        "summary": "List tester groups for the app",
        "operationId": "ApiV3AppsAppIdTesterGroupsGetTesterGroups",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "schema": {
              "type": "string",
              "examples": [
                "60a0b1c2d3e4f56789abcdef"
              ]
            },
            "required": true,
            "deprecated": false
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "The maximum number of results per page.",
              "default": 30
            },
            "description": "The maximum number of results per page.",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "The page number of the results to fetch.",
              "default": 1
            },
            "description": "The page number of the results to fetch.",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": false,
            "allowReserved": false
          }
        ],
        "responses": {
          "200": {
            "description": "Request fulfilled, document follows",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClassicPagination_api.controllers.apps.schemas.TesterGroupSchema_"
                }
              }
            }
          },
          "400": {
            "description": "Bad request syntax or unsupported method",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status_code": {
                      "type": "integer"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "extra": {
                      "additionalProperties": {},
                      "type": [
                        "null",
                        "object",
                        "array"
                      ]
                    }
                  },
                  "type": "object",
                  "required": [
                    "detail",
                    "status_code"
                  ],
                  "description": "Validation Exception",
                  "examples": [
                    {
                      "status_code": 400,
                      "detail": "Bad Request",
                      "extra": {}
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Tester Groups"
        ],
        "summary": "Create tester group for the app",
        "operationId": "ApiV3AppsAppIdTesterGroupsCreateTesterGroup",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "schema": {
              "type": "string",
              "examples": [
                "60a0b1c2d3e4f56789abcdef"
              ]
            },
            "required": true,
            "deprecated": false
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTesterGroup"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Document created, URL follows",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoPagination_api.controllers.apps.schemas.TesterGroupSchema_"
                }
              }
            }
          },
          "400": {
            "description": "Bad request syntax or unsupported method",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status_code": {
                      "type": "integer"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "extra": {
                      "additionalProperties": {},
                      "type": [
                        "null",
                        "object",
                        "array"
                      ]
                    }
                  },
                  "type": "object",
                  "required": [
                    "detail",
                    "status_code"
                  ],
                  "description": "Validation Exception",
                  "examples": [
                    {
                      "status_code": 400,
                      "detail": "Bad Request",
                      "extra": {}
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v3/apps/{app_id}/variable-groups": {
      "get": {
        "tags": [
          "Secrets and Environment Vars"
        ],
        "summary": "List variable groups for the app",
        "operationId": "ApiV3AppsAppIdVariableGroupsGetVariableGroups",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "schema": {
              "type": "string",
              "examples": [
                "60a0b1c2d3e4f56789abcdef"
              ]
            },
            "required": true,
            "deprecated": false
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "The maximum number of results per page.",
              "default": 30
            },
            "description": "The maximum number of results per page.",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "The page number of the results to fetch.",
              "default": 1
            },
            "description": "The page number of the results to fetch.",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": false,
            "allowReserved": false
          }
        ],
        "responses": {
          "200": {
            "description": "Request fulfilled, document follows",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClassicPagination_api.controllers.apps.schemas.VariableGroupSchema_"
                }
              }
            }
          },
          "400": {
            "description": "Bad request syntax or unsupported method",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status_code": {
                      "type": "integer"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "extra": {
                      "additionalProperties": {},
                      "type": [
                        "null",
                        "object",
                        "array"
                      ]
                    }
                  },
                  "type": "object",
                  "required": [
                    "detail",
                    "status_code"
                  ],
                  "description": "Validation Exception",
                  "examples": [
                    {
                      "status_code": 400,
                      "detail": "Bad Request",
                      "extra": {}
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Secrets and Environment Vars"
        ],
        "summary": "Create a variable group for the app",
        "operationId": "ApiV3AppsAppIdVariableGroupsCreateVariableGroup",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "schema": {
              "type": "string",
              "examples": [
                "60a0b1c2d3e4f56789abcdef"
              ]
            },
            "required": true,
            "deprecated": false
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/apps_schemas_CreateVariableGroup"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Document created, URL follows",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoPagination_api.controllers.apps.schemas.VariableGroupSchema_"
                }
              }
            }
          },
          "400": {
            "description": "Bad request syntax or unsupported method",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status_code": {
                      "type": "integer"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "extra": {
                      "additionalProperties": {},
                      "type": [
                        "null",
                        "object",
                        "array"
                      ]
                    }
                  },
                  "type": "object",
                  "required": [
                    "detail",
                    "status_code"
                  ],
                  "description": "Validation Exception",
                  "examples": [
                    {
                      "status_code": 400,
                      "detail": "Bad Request",
                      "extra": {}
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v3/builds/{build_id}/preview": {
      "post": {
        "tags": [
          "App Previews"
        ],
        "summary": "Start an app preview",
        "operationId": "ApiV3BuildsBuildIdPreviewStartPreview",
        "parameters": [
          {
            "name": "build_id",
            "in": "path",
            "schema": {
              "type": "string",
              "examples": [
                "60a0b1c2d3e4f56789abcdef"
              ]
            },
            "required": true,
            "deprecated": false
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StartPreviewSchema"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Document created, URL follows",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoPagination_api.controllers.builds.schemas.StartedAppPreviewSchema_"
                }
              }
            }
          },
          "400": {
            "description": "Bad request syntax or unsupported method",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status_code": {
                      "type": "integer"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "extra": {
                      "additionalProperties": {},
                      "type": [
                        "null",
                        "object",
                        "array"
                      ]
                    }
                  },
                  "type": "object",
                  "required": [
                    "detail",
                    "status_code"
                  ],
                  "description": "Validation Exception",
                  "examples": [
                    {
                      "status_code": 400,
                      "detail": "Bad Request",
                      "extra": {}
                    }
                  ]
                }
              }
            }
          },
          "402": {
            "description": "The maximum number of preview sessions has been reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentRequiredSchema"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v3/dashboards/{uuid}/builds": {
      "get": {
        "tags": [
          "Build Dashboards"
        ],
        "summary": "List dashboard builds",
        "operationId": "ApiV3DashboardsUuidBuildsGetBuilds",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "deprecated": false
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "oneOf": [
                {},
                {
                  "type": "null"
                }
              ],
              "description": "A unique identifier after which the results should be returned."
            },
            "description": "A unique identifier after which the results should be returned.",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "The maximum number of results per page.",
              "default": 30
            },
            "description": "The maximum number of results per page.",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": false,
            "allowReserved": false
          }
        ],
        "responses": {
          "200": {
            "description": "\nThe response headers include a `link` header that provides URLs for fetching additional pages of results.\nThe `link` header looks something like this:\n```\nlink: <https://codemagic.io/dashboards/{uuid}/builds>; rel=\"first\", <https://codemagic.io/dashboards/{uuid}/builds?cursor=xxx>; rel=\"next\"\n```\n\n- The URL for the first page is followed by `rel=\"first\"`.\n- The URL for the next page is followed by `rel=\"next\"`.\n",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CursorPagination_bson.objectid.ObjectId_api.controllers.dashboards.schemas.BuildSchema_"
                }
              }
            }
          },
          "400": {
            "description": "Bad request syntax or unsupported method",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status_code": {
                      "type": "integer"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "extra": {
                      "additionalProperties": {},
                      "type": [
                        "null",
                        "object",
                        "array"
                      ]
                    }
                  },
                  "type": "object",
                  "required": [
                    "detail",
                    "status_code"
                  ],
                  "description": "Validation Exception",
                  "examples": [
                    {
                      "status_code": 400,
                      "detail": "Bad Request",
                      "extra": {}
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {}
        ]
      }
    },
    "/api/v3/dashboards/{uuid}": {
      "get": {
        "tags": [
          "Build Dashboards"
        ],
        "summary": "Get a dashboard",
        "description": "\nFor more information, see \"[Build dashboards](https://docs.codemagic.io/knowledge-others/build-dashboards/).\"\n",
        "operationId": "ApiV3DashboardsUuidGetDashboard",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "deprecated": false
          }
        ],
        "responses": {
          "200": {
            "description": "Request fulfilled, document follows",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoPagination_api.controllers.dashboards.schemas.DashboardSchema_"
                }
              }
            }
          },
          "400": {
            "description": "Bad request syntax or unsupported method",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status_code": {
                      "type": "integer"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "extra": {
                      "additionalProperties": {},
                      "type": [
                        "null",
                        "object",
                        "array"
                      ]
                    }
                  },
                  "type": "object",
                  "required": [
                    "detail",
                    "status_code"
                  ],
                  "description": "Validation Exception",
                  "examples": [
                    {
                      "status_code": 400,
                      "detail": "Bad Request",
                      "extra": {}
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {}
        ]
      }
    },
    "/api/v3/meta": {
      "get": {
        "tags": [
          "Meta"
        ],
        "summary": "Get meta information",
        "description": "\nReturns meta information about Codemagic, including a list of using IP addresses.\n\nThese IP addresses are in [CIDR notation](https://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing#CIDR_notation).\nYou can use an online conversion tool to convert from CIDR notation to IP address ranges, if needed.\n\nWe make changes to our IP addresses from time to time. If you use these IP ranges we strongly encourage regular monitoring of our API.\n",
        "operationId": "ApiV3MetaMeta",
        "responses": {
          "200": {
            "description": "Request fulfilled, document follows",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoPagination_api.controllers.meta.schemas.MetaSchema_"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {}
        ]
      }
    },
    "/api/v3/meta/shorebird": {
      "get": {
        "tags": [
          "Meta"
        ],
        "summary": "Get information about Shorebird integration",
        "operationId": "ApiV3MetaShorebirdShorebird",
        "responses": {
          "200": {
            "description": "Request fulfilled, document follows",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoPagination_api.controllers.meta.schemas.ShorebirdSchema_"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {}
        ]
      }
    },
    "/api/v3/previews/{preview_id}": {
      "get": {
        "tags": [
          "App Previews"
        ],
        "summary": "Get app preview information",
        "operationId": "ApiV3PreviewsPreviewIdGetPreviewInformation",
        "parameters": [
          {
            "name": "preview_id",
            "in": "path",
            "schema": {
              "type": "string",
              "examples": [
                "60a0b1c2d3e4f56789abcdef"
              ]
            },
            "required": true,
            "deprecated": false
          }
        ],
        "responses": {
          "200": {
            "description": "Request fulfilled, document follows",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoPagination_api.controllers.previews.schemas.AppPreviewSchema_"
                }
              }
            }
          },
          "400": {
            "description": "Bad request syntax or unsupported method",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status_code": {
                      "type": "integer"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "extra": {
                      "additionalProperties": {},
                      "type": [
                        "null",
                        "object",
                        "array"
                      ]
                    }
                  },
                  "type": "object",
                  "required": [
                    "detail",
                    "status_code"
                  ],
                  "description": "Validation Exception",
                  "examples": [
                    {
                      "status_code": 400,
                      "detail": "Bad Request",
                      "extra": {}
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "App Previews"
        ],
        "summary": "Stop an app preview",
        "operationId": "ApiV3PreviewsPreviewIdStopPreview",
        "parameters": [
          {
            "name": "preview_id",
            "in": "path",
            "schema": {
              "type": "string",
              "examples": [
                "60a0b1c2d3e4f56789abcdef"
              ]
            },
            "required": true,
            "deprecated": false
          }
        ],
        "responses": {
          "204": {
            "description": "Request fulfilled, nothing follows",
            "headers": {}
          },
          "400": {
            "description": "Bad request syntax or unsupported method",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status_code": {
                      "type": "integer"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "extra": {
                      "additionalProperties": {},
                      "type": [
                        "null",
                        "object",
                        "array"
                      ]
                    }
                  },
                  "type": "object",
                  "required": [
                    "detail",
                    "status_code"
                  ],
                  "description": "Validation Exception",
                  "examples": [
                    {
                      "status_code": 400,
                      "detail": "Bad Request",
                      "extra": {}
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v3/previews/{preview_id}/share": {
      "post": {
        "tags": [
          "App Previews"
        ],
        "summary": "Share an app preview",
        "description": "Create a public ID that can be used to retrieve app preview without authentication, see [`GET /shared-previews/{shared_preview_id}`](#/operations/SharedPreviewsSharedPreviewIdGetSharedPreview).",
        "operationId": "ApiV3PreviewsPreviewIdShareSharePreview",
        "parameters": [
          {
            "name": "preview_id",
            "in": "path",
            "schema": {
              "type": "string",
              "examples": [
                "60a0b1c2d3e4f56789abcdef"
              ]
            },
            "required": true,
            "deprecated": false
          }
        ],
        "responses": {
          "201": {
            "description": "Document created, URL follows",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoPagination_api.controllers.previews.schemas.SharedAppPreviewSchema_"
                }
              }
            }
          },
          "400": {
            "description": "Bad request syntax or unsupported method",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status_code": {
                      "type": "integer"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "extra": {
                      "additionalProperties": {},
                      "type": [
                        "null",
                        "object",
                        "array"
                      ]
                    }
                  },
                  "type": "object",
                  "required": [
                    "detail",
                    "status_code"
                  ],
                  "description": "Validation Exception",
                  "examples": [
                    {
                      "status_code": 400,
                      "detail": "Bad Request",
                      "extra": {}
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v3/shared-previews/{shared_preview_id}": {
      "get": {
        "tags": [
          "App Previews"
        ],
        "summary": "Get shared app preview information",
        "description": "Get details of a publicly shared app preview. Does not require user authentication. See [`POST /previews/{preview_id}/share`](#/operations/PreviewsPreviewIdShareSharePreview) for app preview sharing.",
        "operationId": "ApiV3SharedPreviewsSharedPreviewIdGetSharedPreview",
        "parameters": [
          {
            "name": "shared_preview_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "deprecated": false
          }
        ],
        "responses": {
          "200": {
            "description": "Request fulfilled, document follows",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoPagination_api.controllers.shared_previews.schemas.SharedAppPreviewDetailsSchema_"
                }
              }
            }
          },
          "400": {
            "description": "Bad request syntax or unsupported method",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status_code": {
                      "type": "integer"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "extra": {
                      "additionalProperties": {},
                      "type": [
                        "null",
                        "object",
                        "array"
                      ]
                    }
                  },
                  "type": "object",
                  "required": [
                    "detail",
                    "status_code"
                  ],
                  "description": "Validation Exception",
                  "examples": [
                    {
                      "status_code": 400,
                      "detail": "Bad Request",
                      "extra": {}
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {}
        ]
      }
    },
    "/api/v3/subscriptions/{team_id}/features": {
      "patch": {
        "tags": [
          "Teams"
        ],
        "summary": "Update subscription features for the team",
        "operationId": "ApiV3SubscriptionsTeamIdFeaturesUpdateFeatures",
        "parameters": [
          {
            "name": "team_id",
            "in": "path",
            "schema": {
              "type": "string",
              "examples": [
                "60a0b1c2d3e4f56789abcdef"
              ]
            },
            "required": true,
            "deprecated": false
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FeaturesSchema"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Request fulfilled, nothing follows",
            "headers": {}
          },
          "400": {
            "description": "Bad request syntax or unsupported method",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status_code": {
                      "type": "integer"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "extra": {
                      "additionalProperties": {},
                      "type": [
                        "null",
                        "object",
                        "array"
                      ]
                    }
                  },
                  "type": "object",
                  "required": [
                    "detail",
                    "status_code"
                  ],
                  "description": "Validation Exception",
                  "examples": [
                    {
                      "status_code": 400,
                      "detail": "Bad Request",
                      "extra": {}
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v3/teams/{team_id}/variable-groups": {
      "get": {
        "tags": [
          "Secrets and Environment Vars"
        ],
        "summary": "List variable groups for the team",
        "operationId": "ApiV3TeamsTeamIdVariableGroupsGetVariableGroups",
        "parameters": [
          {
            "name": "team_id",
            "in": "path",
            "schema": {
              "type": "string",
              "examples": [
                "60a0b1c2d3e4f56789abcdef"
              ]
            },
            "required": true,
            "deprecated": false
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "The maximum number of results per page.",
              "default": 30
            },
            "description": "The maximum number of results per page.",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "The page number of the results to fetch.",
              "default": 1
            },
            "description": "The page number of the results to fetch.",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": false,
            "allowReserved": false
          }
        ],
        "responses": {
          "200": {
            "description": "Request fulfilled, document follows",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClassicPagination_api.controllers.teams.schemas.VariableGroupSchema_"
                }
              }
            }
          },
          "400": {
            "description": "Bad request syntax or unsupported method",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status_code": {
                      "type": "integer"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "extra": {
                      "additionalProperties": {},
                      "type": [
                        "null",
                        "object",
                        "array"
                      ]
                    }
                  },
                  "type": "object",
                  "required": [
                    "detail",
                    "status_code"
                  ],
                  "description": "Validation Exception",
                  "examples": [
                    {
                      "status_code": 400,
                      "detail": "Bad Request",
                      "extra": {}
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Secrets and Environment Vars"
        ],
        "summary": "Create a variable group for the team",
        "operationId": "ApiV3TeamsTeamIdVariableGroupsCreateVariableGroup",
        "parameters": [
          {
            "name": "team_id",
            "in": "path",
            "schema": {
              "type": "string",
              "examples": [
                "60a0b1c2d3e4f56789abcdef"
              ]
            },
            "required": true,
            "deprecated": false
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/teams_schemas_CreateVariableGroup"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Document created, URL follows",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoPagination_api.controllers.teams.schemas.VariableGroupSchema_"
                }
              }
            }
          },
          "400": {
            "description": "Bad request syntax or unsupported method",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status_code": {
                      "type": "integer"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "extra": {
                      "additionalProperties": {},
                      "type": [
                        "null",
                        "object",
                        "array"
                      ]
                    }
                  },
                  "type": "object",
                  "required": [
                    "detail",
                    "status_code"
                  ],
                  "description": "Validation Exception",
                  "examples": [
                    {
                      "status_code": 400,
                      "detail": "Bad Request",
                      "extra": {}
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v3/teams/{team_id}/audit-log-connector": {
      "get": {
        "tags": [
          "Teams"
        ],
        "summary": "Get Audit Log Connector settings for the team",
        "operationId": "ApiV3TeamsTeamIdAuditLogConnectorGetAuditLogConnector",
        "parameters": [
          {
            "name": "team_id",
            "in": "path",
            "schema": {
              "type": "string",
              "examples": [
                "60a0b1c2d3e4f56789abcdef"
              ]
            },
            "required": true,
            "deprecated": false
          }
        ],
        "responses": {
          "200": {
            "description": "Request fulfilled, document follows",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoPagination_api.controllers.teams.schemas.AuditLogConnectorSchema_"
                }
              }
            }
          },
          "400": {
            "description": "Bad request syntax or unsupported method",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status_code": {
                      "type": "integer"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "extra": {
                      "additionalProperties": {},
                      "type": [
                        "null",
                        "object",
                        "array"
                      ]
                    }
                  },
                  "type": "object",
                  "required": [
                    "detail",
                    "status_code"
                  ],
                  "description": "Validation Exception",
                  "examples": [
                    {
                      "status_code": 400,
                      "detail": "Bad Request",
                      "extra": {}
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "Teams"
        ],
        "summary": "Update Audit Log Connector settings for the team",
        "operationId": "ApiV3TeamsTeamIdAuditLogConnectorUpdateAuditLogConnector",
        "parameters": [
          {
            "name": "team_id",
            "in": "path",
            "schema": {
              "type": "string",
              "examples": [
                "60a0b1c2d3e4f56789abcdef"
              ]
            },
            "required": true,
            "deprecated": false
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAuditLogConnector"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Request fulfilled, document follows",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoPagination_api.controllers.teams.schemas.AuditLogConnectorSchema_"
                }
              }
            }
          },
          "400": {
            "description": "Bad request syntax or unsupported method",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status_code": {
                      "type": "integer"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "extra": {
                      "additionalProperties": {},
                      "type": [
                        "null",
                        "object",
                        "array"
                      ]
                    }
                  },
                  "type": "object",
                  "required": [
                    "detail",
                    "status_code"
                  ],
                  "description": "Validation Exception",
                  "examples": [
                    {
                      "status_code": 400,
                      "detail": "Bad Request",
                      "extra": {}
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "Teams"
        ],
        "summary": "Delete Audit Log Connector settings for the team",
        "operationId": "ApiV3TeamsTeamIdAuditLogConnectorDeleteAuditLogConnector",
        "parameters": [
          {
            "name": "team_id",
            "in": "path",
            "schema": {
              "type": "string",
              "examples": [
                "60a0b1c2d3e4f56789abcdef"
              ]
            },
            "required": true,
            "deprecated": false
          }
        ],
        "responses": {
          "204": {
            "description": "Request fulfilled, nothing follows",
            "headers": {}
          },
          "400": {
            "description": "Bad request syntax or unsupported method",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status_code": {
                      "type": "integer"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "extra": {
                      "additionalProperties": {},
                      "type": [
                        "null",
                        "object",
                        "array"
                      ]
                    }
                  },
                  "type": "object",
                  "required": [
                    "detail",
                    "status_code"
                  ],
                  "description": "Validation Exception",
                  "examples": [
                    {
                      "status_code": 400,
                      "detail": "Bad Request",
                      "extra": {}
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v3/teams/{team_id}/audit-log": {
      "get": {
        "tags": [
          "Teams"
        ],
        "summary": "Download team audit log as CSV",
        "operationId": "ApiV3TeamsTeamIdAuditLogDownloadAuditLog",
        "parameters": [
          {
            "name": "team_id",
            "in": "path",
            "schema": {
              "type": "string",
              "examples": [
                "60a0b1c2d3e4f56789abcdef"
              ]
            },
            "required": true,
            "deprecated": false
          }
        ],
        "responses": {
          "200": {
            "description": "Stream Response",
            "headers": {
              "content-length": {
                "schema": {
                  "type": "string"
                },
                "description": "File size in bytes",
                "required": false,
                "deprecated": false
              },
              "last-modified": {
                "schema": {
                  "type": "string",
                  "format": "date-time"
                },
                "description": "Last modified data-time in RFC 2822 format",
                "required": false,
                "deprecated": false
              },
              "etag": {
                "schema": {
                  "type": "string"
                },
                "description": "Entity tag",
                "required": false,
                "deprecated": false
              }
            },
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string",
                  "contentMediaType": "application/octet-stream"
                }
              }
            }
          },
          "400": {
            "description": "Bad request syntax or unsupported method",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status_code": {
                      "type": "integer"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "extra": {
                      "additionalProperties": {},
                      "type": [
                        "null",
                        "object",
                        "array"
                      ]
                    }
                  },
                  "type": "object",
                  "required": [
                    "detail",
                    "status_code"
                  ],
                  "description": "Validation Exception",
                  "examples": [
                    {
                      "status_code": 400,
                      "detail": "Bad Request",
                      "extra": {}
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v3/teams/{team_id}/previews": {
      "get": {
        "tags": [
          "App Previews"
        ],
        "summary": "List app previews for the team",
        "operationId": "ApiV3TeamsTeamIdPreviewsGetAppPreviews",
        "parameters": [
          {
            "name": "team_id",
            "in": "path",
            "schema": {
              "type": "string",
              "examples": [
                "60a0b1c2d3e4f56789abcdef"
              ]
            },
            "required": true,
            "deprecated": false
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "The maximum number of results per page.",
              "default": 30
            },
            "description": "The maximum number of results per page.",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "The page number of the results to fetch.",
              "default": 1
            },
            "description": "The page number of the results to fetch.",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": false,
            "allowReserved": false
          }
        ],
        "responses": {
          "200": {
            "description": "Request fulfilled, document follows",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClassicPagination_api.controllers.teams.schemas.AppPreviewSchema_"
                }
              }
            }
          },
          "400": {
            "description": "Bad request syntax or unsupported method",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status_code": {
                      "type": "integer"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "extra": {
                      "additionalProperties": {},
                      "type": [
                        "null",
                        "object",
                        "array"
                      ]
                    }
                  },
                  "type": "object",
                  "required": [
                    "detail",
                    "status_code"
                  ],
                  "description": "Validation Exception",
                  "examples": [
                    {
                      "status_code": 400,
                      "detail": "Bad Request",
                      "extra": {}
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v3/teams/{team_id}/apps": {
      "get": {
        "tags": [
          "Applications"
        ],
        "summary": "List apps for the team",
        "operationId": "ApiV3TeamsTeamIdAppsGetApps",
        "parameters": [
          {
            "name": "team_id",
            "in": "path",
            "schema": {
              "type": "string",
              "examples": [
                "60a0b1c2d3e4f56789abcdef"
              ]
            },
            "required": true,
            "deprecated": false
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "The maximum number of results per page.",
              "default": 30
            },
            "description": "The maximum number of results per page.",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "The page number of the results to fetch.",
              "default": 1
            },
            "description": "The page number of the results to fetch.",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": false,
            "allowReserved": false
          }
        ],
        "responses": {
          "200": {
            "description": "Request fulfilled, document follows",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClassicPagination_api.controllers.teams.schemas.AppSchema_"
                }
              }
            }
          },
          "400": {
            "description": "Bad request syntax or unsupported method",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status_code": {
                      "type": "integer"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "extra": {
                      "additionalProperties": {},
                      "type": [
                        "null",
                        "object",
                        "array"
                      ]
                    }
                  },
                  "type": "object",
                  "required": [
                    "detail",
                    "status_code"
                  ],
                  "description": "Validation Exception",
                  "examples": [
                    {
                      "status_code": 400,
                      "detail": "Bad Request",
                      "extra": {}
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v3/tester-groups/{tester_group_id}/contacts": {
      "get": {
        "tags": [
          "Tester Groups"
        ],
        "summary": "List contacts for the tester group",
        "operationId": "ApiV3TesterGroupsTesterGroupIdContactsListContacts",
        "parameters": [
          {
            "name": "tester_group_id",
            "in": "path",
            "schema": {
              "type": "string",
              "examples": [
                "60a0b1c2d3e4f56789abcdef"
              ]
            },
            "required": true,
            "deprecated": false
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "The maximum number of results per page.",
              "default": 30
            },
            "description": "The maximum number of results per page.",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "The page number of the results to fetch.",
              "default": 1
            },
            "description": "The page number of the results to fetch.",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": false,
            "allowReserved": false
          }
        ],
        "responses": {
          "200": {
            "description": "Request fulfilled, document follows",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClassicPagination_api.controllers.tester_groups.schemas.TesterGroupContactSchema_"
                }
              }
            }
          },
          "400": {
            "description": "Bad request syntax or unsupported method",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status_code": {
                      "type": "integer"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "extra": {
                      "additionalProperties": {},
                      "type": [
                        "null",
                        "object",
                        "array"
                      ]
                    }
                  },
                  "type": "object",
                  "required": [
                    "detail",
                    "status_code"
                  ],
                  "description": "Validation Exception",
                  "examples": [
                    {
                      "status_code": 400,
                      "detail": "Bad Request",
                      "extra": {}
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Tester Groups"
        ],
        "summary": "Bulk import contacts to the tester group",
        "description": "\n<!-- theme: warning -->\n> The bulk import API is not designed to sync updates in real-time from an external database.\n\n### Skipped contacts\n\nContacts must meet all the following criteria in order to be created or updated with this API:\n\n- The imported contacts may not exceed your account limit.\n- The contact must have a valid email address.\n- The contact's email address must not be on an exclusion list.\n- The contact's email must not be on a list of bounced email addresses.\n\nIf contacts do not meet all of these requirements, they will be skipped by the importer.\n",
        "operationId": "ApiV3TesterGroupsTesterGroupIdContactsBulkImport",
        "parameters": [
          {
            "name": "tester_group_id",
            "in": "path",
            "schema": {
              "type": "string",
              "examples": [
                "60a0b1c2d3e4f56789abcdef"
              ]
            },
            "required": true,
            "deprecated": false
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/tester_groups_schemas_BulkImportSchema"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Document created, URL follows",
            "headers": {}
          },
          "400": {
            "description": "Bad request syntax or unsupported method",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status_code": {
                      "type": "integer"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "extra": {
                      "additionalProperties": {},
                      "type": [
                        "null",
                        "object",
                        "array"
                      ]
                    }
                  },
                  "type": "object",
                  "required": [
                    "detail",
                    "status_code"
                  ],
                  "description": "Validation Exception",
                  "examples": [
                    {
                      "status_code": 400,
                      "detail": "Bad Request",
                      "extra": {}
                    }
                  ]
                }
              }
            }
          },
          "402": {
            "description": "The maximum number of contacts has been reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentRequiredSchema"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v3/tester-groups/{tester_group_id}/contacts/{contact_id}": {
      "delete": {
        "tags": [
          "Tester Groups"
        ],
        "summary": "Delete contact from the tester group",
        "operationId": "ApiV3TesterGroupsTesterGroupIdContactsContactIdDeleteContact",
        "parameters": [
          {
            "name": "tester_group_id",
            "in": "path",
            "schema": {
              "type": "string",
              "examples": [
                "60a0b1c2d3e4f56789abcdef"
              ]
            },
            "required": true,
            "deprecated": false
          },
          {
            "name": "contact_id",
            "in": "path",
            "schema": {
              "type": "string",
              "examples": [
                "60a0b1c2d3e4f56789abcdef"
              ]
            },
            "required": true,
            "deprecated": false
          }
        ],
        "responses": {
          "204": {
            "description": "Request fulfilled, nothing follows",
            "headers": {}
          },
          "400": {
            "description": "Bad request syntax or unsupported method",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status_code": {
                      "type": "integer"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "extra": {
                      "additionalProperties": {},
                      "type": [
                        "null",
                        "object",
                        "array"
                      ]
                    }
                  },
                  "type": "object",
                  "required": [
                    "detail",
                    "status_code"
                  ],
                  "description": "Validation Exception",
                  "examples": [
                    {
                      "status_code": 400,
                      "detail": "Bad Request",
                      "extra": {}
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v3/tester-groups/{tester_group_id}": {
      "get": {
        "tags": [
          "Tester Groups"
        ],
        "summary": "Get a tester group",
        "operationId": "ApiV3TesterGroupsTesterGroupIdGetGroup",
        "parameters": [
          {
            "name": "tester_group_id",
            "in": "path",
            "schema": {
              "type": "string",
              "examples": [
                "60a0b1c2d3e4f56789abcdef"
              ]
            },
            "required": true,
            "deprecated": false
          }
        ],
        "responses": {
          "200": {
            "description": "Request fulfilled, document follows",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoPagination_api.controllers.tester_groups.schemas.TesterGroupSchema_"
                }
              }
            }
          },
          "400": {
            "description": "Bad request syntax or unsupported method",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status_code": {
                      "type": "integer"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "extra": {
                      "additionalProperties": {},
                      "type": [
                        "null",
                        "object",
                        "array"
                      ]
                    }
                  },
                  "type": "object",
                  "required": [
                    "detail",
                    "status_code"
                  ],
                  "description": "Validation Exception",
                  "examples": [
                    {
                      "status_code": 400,
                      "detail": "Bad Request",
                      "extra": {}
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "Tester Groups"
        ],
        "summary": "Delete tester group",
        "operationId": "ApiV3TesterGroupsTesterGroupIdDeleteGroup",
        "parameters": [
          {
            "name": "tester_group_id",
            "in": "path",
            "schema": {
              "type": "string",
              "examples": [
                "60a0b1c2d3e4f56789abcdef"
              ]
            },
            "required": true,
            "deprecated": false
          }
        ],
        "responses": {
          "204": {
            "description": "Request fulfilled, nothing follows",
            "headers": {}
          },
          "400": {
            "description": "Bad request syntax or unsupported method",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status_code": {
                      "type": "integer"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "extra": {
                      "additionalProperties": {},
                      "type": [
                        "null",
                        "object",
                        "array"
                      ]
                    }
                  },
                  "type": "object",
                  "required": [
                    "detail",
                    "status_code"
                  ],
                  "description": "Validation Exception",
                  "examples": [
                    {
                      "status_code": 400,
                      "detail": "Bad Request",
                      "extra": {}
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "patch": {
        "tags": [
          "Tester Groups"
        ],
        "summary": "Update a tester group",
        "operationId": "ApiV3TesterGroupsTesterGroupIdUpdateTesterGroup",
        "parameters": [
          {
            "name": "tester_group_id",
            "in": "path",
            "schema": {
              "type": "string",
              "examples": [
                "60a0b1c2d3e4f56789abcdef"
              ]
            },
            "required": true,
            "deprecated": false
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTesterGroup"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Request fulfilled, nothing follows",
            "headers": {}
          },
          "400": {
            "description": "Bad request syntax or unsupported method",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status_code": {
                      "type": "integer"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "extra": {
                      "additionalProperties": {},
                      "type": [
                        "null",
                        "object",
                        "array"
                      ]
                    }
                  },
                  "type": "object",
                  "required": [
                    "detail",
                    "status_code"
                  ],
                  "description": "Validation Exception",
                  "examples": [
                    {
                      "status_code": 400,
                      "detail": "Bad Request",
                      "extra": {}
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v3/user/api-key": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get API key for the authenticated user",
        "operationId": "ApiV3UserApiKeyGetApiKey",
        "responses": {
          "200": {
            "description": "Request fulfilled, document follows",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoPagination_api.controllers.user.schemas.ApiKeySchema_"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "Users"
        ],
        "summary": "Revoke API key for the authenticated user",
        "operationId": "ApiV3UserApiKeyRevokeApiKey",
        "responses": {
          "204": {
            "description": "Request fulfilled, nothing follows",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/api/v3/user/apps": {
      "get": {
        "tags": [
          "Applications"
        ],
        "summary": "List apps for the authenticated user",
        "description": "To list the applications belonging to a team, see [/teams/{team_id}/apps](#/operations/TeamsTeamIdAppsGetApps)",
        "operationId": "ApiV3UserAppsGetApps",
        "parameters": [
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "The maximum number of results per page.",
              "default": 30
            },
            "description": "The maximum number of results per page.",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "The page number of the results to fetch.",
              "default": 1
            },
            "description": "The page number of the results to fetch.",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": false,
            "allowReserved": false
          }
        ],
        "responses": {
          "200": {
            "description": "Request fulfilled, document follows",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClassicPagination_api.controllers.user.schemas.AppSchema_"
                }
              }
            }
          },
          "400": {
            "description": "Bad request syntax or unsupported method",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status_code": {
                      "type": "integer"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "extra": {
                      "additionalProperties": {},
                      "type": [
                        "null",
                        "object",
                        "array"
                      ]
                    }
                  },
                  "type": "object",
                  "required": [
                    "detail",
                    "status_code"
                  ],
                  "description": "Validation Exception",
                  "examples": [
                    {
                      "status_code": 400,
                      "detail": "Bad Request",
                      "extra": {}
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v3/user/notifications": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get notifications for the authenticated user",
        "operationId": "ApiV3UserNotificationsGetNotifications",
        "parameters": [
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "The maximum number of results per page.",
              "default": 30
            },
            "description": "The maximum number of results per page.",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "The page number of the results to fetch.",
              "default": 1
            },
            "description": "The page number of the results to fetch.",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": false,
            "allowReserved": false
          }
        ],
        "responses": {
          "200": {
            "description": "Request fulfilled, document follows",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClassicPagination_api.controllers.user.schemas.NotificationSchema_"
                }
              }
            }
          },
          "400": {
            "description": "Bad request syntax or unsupported method",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status_code": {
                      "type": "integer"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "extra": {
                      "additionalProperties": {},
                      "type": [
                        "null",
                        "object",
                        "array"
                      ]
                    }
                  },
                  "type": "object",
                  "required": [
                    "detail",
                    "status_code"
                  ],
                  "description": "Validation Exception",
                  "examples": [
                    {
                      "status_code": 400,
                      "detail": "Bad Request",
                      "extra": {}
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v3/user/preferences": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get preferences for the authenticated user",
        "operationId": "ApiV3UserPreferencesGetPreferences",
        "responses": {
          "200": {
            "description": "Request fulfilled, document follows",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoPagination_api.controllers.user.schemas.PreferencesSchema_"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v3/user/teams": {
      "get": {
        "tags": [
          "Teams"
        ],
        "summary": "List teams for the authenticated user",
        "operationId": "ApiV3UserTeamsGetTeams",
        "parameters": [
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "The maximum number of results per page.",
              "default": 30
            },
            "description": "The maximum number of results per page.",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "The page number of the results to fetch.",
              "default": 1
            },
            "description": "The page number of the results to fetch.",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": false,
            "allowReserved": false
          }
        ],
        "responses": {
          "200": {
            "description": "Request fulfilled, document follows",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClassicPagination_api.controllers.user.schemas.TeamSchema_"
                }
              }
            }
          },
          "400": {
            "description": "Bad request syntax or unsupported method",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status_code": {
                      "type": "integer"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "extra": {
                      "additionalProperties": {},
                      "type": [
                        "null",
                        "object",
                        "array"
                      ]
                    }
                  },
                  "type": "object",
                  "required": [
                    "detail",
                    "status_code"
                  ],
                  "description": "Validation Exception",
                  "examples": [
                    {
                      "status_code": 400,
                      "detail": "Bad Request",
                      "extra": {}
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v3/user": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get authenticated user info",
        "operationId": "ApiV3UserGetUser",
        "responses": {
          "200": {
            "description": "Request fulfilled, document follows",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoPagination_api.controllers.user.schemas.UserSchema_"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v3/user/track": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Track user events",
        "operationId": "ApiV3UserTrackTrack",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TrackUserSchema"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Document created, URL follows",
            "headers": {}
          },
          "400": {
            "description": "Bad request syntax or unsupported method",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status_code": {
                      "type": "integer"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "extra": {
                      "additionalProperties": {},
                      "type": [
                        "null",
                        "object",
                        "array"
                      ]
                    }
                  },
                  "type": "object",
                  "required": [
                    "detail",
                    "status_code"
                  ],
                  "description": "Validation Exception",
                  "examples": [
                    {
                      "status_code": 400,
                      "detail": "Bad Request",
                      "extra": {}
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v3/variable-groups/{variable_group_id}/variables": {
      "get": {
        "tags": [
          "Secrets and Environment Vars"
        ],
        "summary": "List variables for the group",
        "operationId": "ApiV3VariableGroupsVariableGroupIdVariablesGetVariables",
        "parameters": [
          {
            "name": "variable_group_id",
            "in": "path",
            "schema": {
              "type": "string",
              "examples": [
                "60a0b1c2d3e4f56789abcdef"
              ]
            },
            "required": true,
            "deprecated": false
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "The maximum number of results per page.",
              "default": 30
            },
            "description": "The maximum number of results per page.",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "The page number of the results to fetch.",
              "default": 1
            },
            "description": "The page number of the results to fetch.",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": false,
            "allowReserved": false
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "oneOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Search query to filter variables."
            },
            "description": "Search query to filter variables.",
            "required": false,
            "deprecated": false,
            "allowEmptyValue": false,
            "allowReserved": false
          }
        ],
        "responses": {
          "200": {
            "description": "Request fulfilled, document follows",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClassicPagination_api.controllers.variable_groups.schemas.EnvironmentVariableSchema_"
                }
              }
            }
          },
          "400": {
            "description": "Bad request syntax or unsupported method",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status_code": {
                      "type": "integer"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "extra": {
                      "additionalProperties": {},
                      "type": [
                        "null",
                        "object",
                        "array"
                      ]
                    }
                  },
                  "type": "object",
                  "required": [
                    "detail",
                    "status_code"
                  ],
                  "description": "Validation Exception",
                  "examples": [
                    {
                      "status_code": 400,
                      "detail": "Bad Request",
                      "extra": {}
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Secrets and Environment Vars"
        ],
        "summary": "Bulk import variables to the group",
        "operationId": "ApiV3VariableGroupsVariableGroupIdVariablesBulkImport",
        "parameters": [
          {
            "name": "variable_group_id",
            "in": "path",
            "schema": {
              "type": "string",
              "examples": [
                "60a0b1c2d3e4f56789abcdef"
              ]
            },
            "required": true,
            "deprecated": false
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/variable_groups_schemas_BulkImportSchema"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Document created, URL follows",
            "headers": {}
          },
          "400": {
            "description": "Bad request syntax or unsupported method",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status_code": {
                      "type": "integer"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "extra": {
                      "additionalProperties": {},
                      "type": [
                        "null",
                        "object",
                        "array"
                      ]
                    }
                  },
                  "type": "object",
                  "required": [
                    "detail",
                    "status_code"
                  ],
                  "description": "Validation Exception",
                  "examples": [
                    {
                      "status_code": 400,
                      "detail": "Bad Request",
                      "extra": {}
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v3/variable-groups/{variable_group_id}": {
      "get": {
        "tags": [
          "Secrets and Environment Vars"
        ],
        "summary": "Get group information",
        "operationId": "ApiV3VariableGroupsVariableGroupIdGetGroup",
        "parameters": [
          {
            "name": "variable_group_id",
            "in": "path",
            "schema": {
              "type": "string",
              "examples": [
                "60a0b1c2d3e4f56789abcdef"
              ]
            },
            "required": true,
            "deprecated": false
          }
        ],
        "responses": {
          "200": {
            "description": "Request fulfilled, document follows",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoPagination_api.controllers.variable_groups.schemas.VariableGroupSchema_"
                }
              }
            }
          },
          "400": {
            "description": "Bad request syntax or unsupported method",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status_code": {
                      "type": "integer"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "extra": {
                      "additionalProperties": {},
                      "type": [
                        "null",
                        "object",
                        "array"
                      ]
                    }
                  },
                  "type": "object",
                  "required": [
                    "detail",
                    "status_code"
                  ],
                  "description": "Validation Exception",
                  "examples": [
                    {
                      "status_code": 400,
                      "detail": "Bad Request",
                      "extra": {}
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "Secrets and Environment Vars"
        ],
        "summary": "Delete the group and all variables",
        "operationId": "ApiV3VariableGroupsVariableGroupIdDeleteGroup",
        "parameters": [
          {
            "name": "variable_group_id",
            "in": "path",
            "schema": {
              "type": "string",
              "examples": [
                "60a0b1c2d3e4f56789abcdef"
              ]
            },
            "required": true,
            "deprecated": false
          }
        ],
        "responses": {
          "204": {
            "description": "Request fulfilled, nothing follows",
            "headers": {}
          },
          "400": {
            "description": "Bad request syntax or unsupported method",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status_code": {
                      "type": "integer"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "extra": {
                      "additionalProperties": {},
                      "type": [
                        "null",
                        "object",
                        "array"
                      ]
                    }
                  },
                  "type": "object",
                  "required": [
                    "detail",
                    "status_code"
                  ],
                  "description": "Validation Exception",
                  "examples": [
                    {
                      "status_code": 400,
                      "detail": "Bad Request",
                      "extra": {}
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "patch": {
        "tags": [
          "Secrets and Environment Vars"
        ],
        "summary": "Change group name and settings",
        "operationId": "ApiV3VariableGroupsVariableGroupIdUpdateGroup",
        "parameters": [
          {
            "name": "variable_group_id",
            "in": "path",
            "schema": {
              "type": "string",
              "examples": [
                "60a0b1c2d3e4f56789abcdef"
              ]
            },
            "required": true,
            "deprecated": false
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateGroupSchema"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Request fulfilled, nothing follows",
            "headers": {}
          },
          "400": {
            "description": "Bad request syntax or unsupported method",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status_code": {
                      "type": "integer"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "extra": {
                      "additionalProperties": {},
                      "type": [
                        "null",
                        "object",
                        "array"
                      ]
                    }
                  },
                  "type": "object",
                  "required": [
                    "detail",
                    "status_code"
                  ],
                  "description": "Validation Exception",
                  "examples": [
                    {
                      "status_code": 400,
                      "detail": "Bad Request",
                      "extra": {}
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v3/variable-groups/{variable_group_id}/variables/{variable_id}": {
      "get": {
        "tags": [
          "Secrets and Environment Vars"
        ],
        "summary": "Get a variable from the group",
        "operationId": "ApiV3VariableGroupsVariableGroupIdVariablesVariableIdGetVariable",
        "parameters": [
          {
            "name": "variable_group_id",
            "in": "path",
            "schema": {
              "type": "string",
              "examples": [
                "60a0b1c2d3e4f56789abcdef"
              ]
            },
            "required": true,
            "deprecated": false
          },
          {
            "name": "variable_id",
            "in": "path",
            "schema": {
              "type": "string",
              "examples": [
                "60a0b1c2d3e4f56789abcdef"
              ]
            },
            "required": true,
            "deprecated": false
          }
        ],
        "responses": {
          "200": {
            "description": "Request fulfilled, document follows",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoPagination_api.controllers.variable_groups.schemas.EnvironmentVariableSchema_"
                }
              }
            }
          },
          "400": {
            "description": "Bad request syntax or unsupported method",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status_code": {
                      "type": "integer"
                    },
                    "detail": {
                      "type": "string"
                    },
                    "extra": {
                      "additionalProperties": {},
                      "type": [
                        "null",
                        "object",
                        "array"
                      ]
                    }
                  },
                  "type": "object",
                  "required": [
                    "detail",
                    "status_code"
                  ],
                  "description": "Validation Exception",
                  "examples": [
                    {
                      "status_code": 400,
                      "detail": "Bad Request",
                      "extra": {}
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "Secrets and Environment Vars"
        ],
        "summary": "Delete the variable",
        "operationId": "ApiV3VariableGroupsVariableGroupIdVariablesVariableIdDeleteVariable",
        "parameters": [
          {
            "name": "variable_group_id",
            "in": "path",
            "schema": {
              "type": "string",
              "examples": [
                "60a0b1c2d3e4f56789abcdef"
              ]
            },
            "required": true,
            "deprecated": false
          },
          {
            "name": "variable_id",
            "in": "path",
            "schema": {
              "type": "string",
              "examples": [
                "60a0b1c2d3e4f56789abcdef"
              ]
[...]
